<header class="bg-deep-black shadow-lg py-4 border-b border-border-dark">
    <nav class="container mx-auto px-4 flex flex-col sm:flex-row justify-between items-center">
<a href="{{ '/' | relative_url }}" class="text-3xl font-orbitron font-bold text-neon-purple uppercase tracking-wider hover:text-holo-silver static-glow transition-colors duration-300 mb-4 sm:mb-0">
<span class="material-symbols-outlined">
heart_minus
</span> AI-102 
</a>
        <div class="flex flex-wrap justify-center gap-x-6 gap-y-2">
            <a href="{{ '/' | relative_url }}" class="flex items-center gap-2 text-neon-green hover:text-holo-silver font-mono font-semibold transition-colors duration-300 uppercase tracking-wider">
                <span class="material-symbols-outlined text-lg">home</span>
                Home
            </a>
            <a href="{{ '/study-guide.html' | relative_url }}" class="flex items-center gap-2 text-neon-green hover:text-holo-silver font-mono font-semibold transition-colors duration-300 uppercase tracking-wider">
                <span class="material-symbols-outlined text-lg">menu_book</span>
                Study Guide
            </a>
            <a href="{{ '/flashcards.html' | relative_url }}" class="flex items-center gap-2 text-neon-green hover:text-holo-silver font-mono font-semibold transition-colors duration-300 uppercase tracking-wider">
                <span class="material-symbols-outlined text-lg">collections_bookmark</span>
                Flashcards
            </a>
            <a href="{{ '/summaries.html' | relative_url }}" class="flex items-center gap-2 text-neon-green hover:text-holo-silver font-mono font-semibold transition-colors duration-300 uppercase tracking-wider">
                <span class="material-symbols-outlined text-lg">summarize</span>
                Summaries
            </a>
            <a href="{{ '/vlogs.html' | relative_url }}" class="flex items-center gap-2 text-neon-green hover:text-holo-silver font-mono font-semibold transition-colors duration-300 uppercase tracking-wider">
                <span class="material-symbols-outlined text-lg">video_library</span>
                Vlogs
            </a>
            <a href="{{ '/resources.html' | relative_url }}" class="flex items-center gap-2 text-neon-green hover:text-holo-silver font-mono font-semibold transition-colors duration-300 uppercase tracking-wider">
                <span class="material-symbols-outlined text-lg">deployed_code</span>
                Resources
            </a>
        </div>
    </nav>
</header>